---
import "../css/style.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Jens' Portfolio</title>
		<link rel="icon" href="/favicon.svg" />
	</head>

	<body>
		<div class="hero">
			<h1>Hey, I'm Jens Monné</h1>
			<p>XR/VR developer</p>
		</div>
	</body>
</html>
