---
const currentYear = new Date().getFullYear();
---

<footer id="contact">
    <h2>Contact me.</h2>
    <p>Currently a student at GLU in Utrecht.</p>
    <a href="mailto:jensmonne@gmail.com" class="btn primary">Email Me</a>

    <div class="socials">
        <a href="https://github.com/jensmonne">GitHub</a>
        <a href="https://jensmonne.itch.io/">Itch</a>
    </div>

    <div style="margin-top: 3rem; color: #555; font-size: 0.8rem;">
        &copy; {currentYear} Jens Monné
    </div>
</footer>
